# dependencies (any level)
node_modules/
.pnp
.pnp.js

# next.js / build output
.next/
out/
build/
dist/

# misc / OS
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# supabase
supabase/.branches
supabase/.temp
